<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="styles.css" />
	<title>Drag & Drop | Project 2</title>
</head>

<body>
	<h1>Drag&Drop Pipeline</h1>
	<div class="game-container">
		<div class="game-field">

		</div>
		<div class="game-items">
			<div class="pipe__area">
				<div class="pipe-item pipe-item_1" data-pipe="0" draggable="true"></div>
				<p class="pipe__amount pipe_1__amount">1</p>
				<button class="pipe__rotate pipe_1__rotate" data-rotate="0"> R </button>
			</div>
			<div class="pipe__area">
				<div class="pipe-item pipe-item_2" data-pipe="1" draggable="true"></div>
				<p class="pipe__amount pipe_2__amount">2</p>
				<button class="pipe__rotate pipe_2__rotate" data-rotate="1"> R </button>
			</div>
		</div>
	</div>




	<script src="./app.js"></script>
</body>

</html>